<div class="biography">
	<div class="container">
		<div class="row">
			<div class="col-md-6 pull-left">
				<h3>Biography</h3>
				<p>Brett Heidi grew up in the Calgary to Olds area of Alberta.  She experienced both city and farm life in a family who was thoroughly involved in art.  She says "I have always had a passion for the use of colour in reflecting light. It is especially exciting to complete a project that emphasizes my own appreciation for the subject."  She feels that art is like music, but to the eye, life's beautiful things put onto canvas tells a story and affects our emotions.</p>
				<p>In her 20's Brett had the opportunity to live in Mazatlan, Mexico and while living there, married her husband, and had the opportunity to be immersed in local culture as well as discover parts of central Mexico.  They now live in Olds, Alberta where she continues to paint and reach out for new opportunities.</p>
				<p>Brett Heidi has experience with painting in oil and watercolour but recently prefers acrylic.  She has been commissioned to sketch portraits since 2001 and also does custom paintings.</p>
			</div>
			<div class="col-md-6 pull-right center">
				<%= image_tag 'brett.jpg', :class => "pull-center" %>
			</div>
		</div>
	</div>
</div>